
/***********************
    PAGE: PORTFOLIO
************************/

  
/***********************
    PAGE: ABOUT
************************/
  
  .left-side {
    text-align: center;
  }

/************************
      PAGE: CONTACT
************************/
.contact-form {
    width: 50%;
    text-align: center;
  }

.wpcf7-form {
  text-align: center;
}
/************************
    PAGE: BLOG
************************/
.blog-title {
  color: #7a7a7a;
}
.blog-content {
  color: #7a7a7a;
}

